body {
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00ff0d8c;
    justify-content: center;
    height: 100vh;
    border-radius: 15px;
}

h1{
    background-color: #08e9138c;
    padding: 10px;
    border-radius: 10px;
}
img {
    max-width: 50%;
    max-height: 50%;
    border-radius: 25px;
    padding: 10px;
}

.button-container {
    margin-top: 20px;
}

.nav-button {
    padding: 10px 20px;
    background-color: #ff000092;
    color: #0008f9;
    text-decoration: none;
    margin: 0 10px;
}

.nav-button:hover {
    background-color: #fff427;
}